@layer components {
	.content-secondary-nav {
		@apply z-[99] overflow-y-visible overflow-x-clip;

		.s-nav {
			@apply lg:will-change-transform;
		}

		.s-nav-outer {
			@apply relative transition-all duration-300 ease-[ease] bg-inherit;
			@apply border-b-[0.0625rem] border-grey-60;
			backface-visibility: hidden;
			-webkit-font-smoothing: subpixel-antialiased;
		}

		.s-nav-inner {
			@apply flex items-center max-lg:hidden;
		}

        .s-nav-mobile {
            @apply flex items-center gap-[1.25rem] lg:hidden py-[0.75rem];
        }

		.item {
			@apply py-[0.75rem] px-[0.75rem];

			&:first-child {
				@apply pl-0;
			}

			&,
			* {
				@apply cursor-pointer;
			}

			&.parent {
				@apply relative;

				svg {
					@apply transition-transform duration-300 ease-[ease];
				}

				&:hover {
					svg {
						@apply rotate-180 translate-y-[-0.125rem];
					}

					.item-children {
						@apply opacity-100 visible pointer-events-auto;
					}

					.item-child {
						@apply translate-x-0 opacity-100;
					}
				}
			}
		}

		.item,
		.item-child {
			@apply underline-offset-[0.125rem] decoration-[0.0625rem] hover:underline;
		}

		.item-inner {
			@apply flex items-center gap-[0.25rem];
		}

		.item-children {
			@apply absolute top-[calc(100%-0.0625rem)] pt-[0.0625rem] left-[-1.5rem] flex ~gap-[1.25rem]/[1.5rem] px-[1.5rem] opacity-0 invisible pointer-events-none;

			&::before {
				content: "";
				@apply absolute top-0 bg-inherit w-full h-full center-x min-w-[200vw] border-b-[0.0625rem] border-grey-60;
			}
		}

		.item-child {
			@apply pb-[0.75rem] relative z-[2] min-w-fit opacity-0;
			@apply translate-x-[0.625rem] transition-all duration-300 ease-[ease] will-change-transform;
			backface-visibility: hidden;
		}
	}
}

@layer base {
	body:has(nav:not(.nav-hidden)) {
		.content-secondary-nav.active {
			.s-nav-outer {
				@apply ~translate-y-[3.375rem]/[4.375rem];
			}
		}
	}
}
