@layer components {
	.content-rich-text-start {
		& ~ :not(.content-rich-text-end) {
			@apply hidden;
		}
	}

	.content-rich-text {
		.content {
			@apply ~pr-[0rem]/[17.25rem];
			@apply flex flex-col gap-[1.25rem];
			@apply ~text-[1.0625rem]/[1.125rem] font-kh font-normal leading-[130%];

			& > *:first-child {
				@apply !mt-0;
			}

			h1,
			h2,
			h3,
			h4,
			h5 {
				@apply block ~mt-[1rem]/[1.75rem];
			}

			b,
			strong {
				@apply font-bold;
			}

			a:not(.wp-block-button__link) {
				@apply underline decoration-[0.0625rem] underline-offset-[0.125rem] text-blue;
			}

			ul,
			ol {
				@apply flex flex-col gap-[0.75rem];
			}

			ul {
				list-style-type: disc;
			}

			ol {
				list-style-type: decimal;
			}

			ul,
			ol {
				@apply ml-[1.75rem];
			}

			ul ul,
			ol ul {
				list-style-type: circle;
				@apply ml-[1.75rem];
			}

			ol ol,
			ul ol {
				list-style-type: lower-latin;
				@apply ml-[3.5rem];
			}

			ul > li {
				@apply list-none relative;

				&::before {
					content: "";
					@apply absolute top-[0.625rem] left-[-1rem] h-[0.25rem] w-[0.25rem] rounded-[50%] bg-black;
				}
			}

			.wp-block-image {
				img {
					@apply rounded-[0.5rem] overflow-hidden;
				}

				& + figcaption {
					@apply mt-[1rem];
				}
			}

			.wp-block-riovizual-tablebuilder {
				@apply block ~mt-[1rem]/[1.75rem];

				table {
					th,
					td {
						@apply border-t-0 border-x-0 text-black;

						.rv_tb-text {
							@apply p-0;
						}
					}

					th {
						@apply p-[0.75rem] border-black;

						.rv_tb-text {
							@apply font-normal;
							@apply ~text-[1.25rem]/[1.5rem] leading-[130%] font-kh;
						}
					}

					td {
						@apply py-[1.25rem] px-[0.75rem] border-gray-2 bg-white transition-colors duration-300 ease-[ease];

						.rv_tb-element {
							@apply ~text-[1.0625rem]/[1.125rem] font-kh font-normal leading-[130%];
						}
					}

					tr {
						&:hover {
							td {
								@apply bg-beige;
							}
						}
					}
				}
			}

			/* 
        .wp-block-buttons {
            @apply mt-[24px] lg:mt-[36px];
        }

		.wp-block-button__link {
			@apply h-fit w-fit py-[12px] px-[24px] rounded-[8px] flex gap-[8px] items-center justify-center;
			@apply transition-colors duration-300 ease-in-out;
			@apply font-pn-700 text-[17px] lg:text-[18px] leading-[22px];
            @apply bg-bright-green text-black hover:bg-medium-green;
            
            &::after {
				content: "";
                @apply relative w-[16px] h-[16px] shrink-0;
                background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9Imljb24vYXJyb3ctcmlnaHQiIGNsaXAtcGF0aD0idXJsKCNjbGlwMF83NzQwXzIxMjkpIj4KPHBhdGggaWQ9IlZlY3RvciIgZD0iTTEuMDYyNSA4TDEzLjkzNzUgOCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+CjxwYXRoIGlkPSJWZWN0b3JfMiIgZD0iTTguMzc1IDE0LjU2MjVMMTQuOTM3NSA4TDguMzc1IDEuNDM3NSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfNzc0MF8yMTI5Ij4KPHJlY3Qgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=');
			}
		} */
		}
	}
}
